    
    /*
     wii shop channel scrollbar remake by ChrisplayzYT/BLOX.
    credit to https://stackoverflow.com/a/52361343 for the arrow buttons tutorial
    credit to https://idkwh.ct8.pl/ (idkwhereisthisname) for the scrollbar img rips. 
    credit to https://nintendo.com  for the images i guessss.... 
     */

     ::-webkit-scrollbar {
      width: 52px; 
    }
    
    ::-webkit-scrollbar-track {
      background: #c8c8c8;
    }
    
    ::-webkit-scrollbar-thumb {
      background-image:url("/wiishopscrollbar/scroll_bar.png");
      background-size:cover;
    }
    
    
    /* Buttons */
    ::-webkit-scrollbar-button:single-button {
    background-image: url("/wiishopscrollbar/arrows/arrow_up.png");
    border:0px;
    border:none;
    display: block;
     height: 52px;
    width:52px;
    }
    
    ::-webkit-scrollbar-button:single-button:active {
      background-image: url("/wiishopscrollbar/arrows/arrow_up_pressed.png");
      height: 52px;
      width:52px;
      background-size:cover;
      }


    
    /* Down */
    ::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url("/wiishopscrollbar/arrows/arrow_down.png");
    border:0px;
    border:none;
    display: block;

    height: 52px;
    width:52px;
    }
    
    /* Down */
    ::-webkit-scrollbar-button:single-button:vertical:increment:active {
      background-image: url("/wiishopscrollbar/arrows/arrow_down_pressed.png");
      background-size:cover;
      height: 52px;
      width:52px;
      }
    
    
    
    /*
     wii shop channel scrollbar remake by ChrisplayzYT/BLOX.
    credit to https://stackoverflow.com/a/52361343 for the arrow buttons tutorial
    credit to https://idkwh.ct8.pl/ (idkwhereisthisname) for the scrollbar img rips. 
    credit to https://nintendo.com  for the images i guessss.... 
     */